%nav.navbar.navbar-inverse{:role => "navigation"}
  .navbar-header
    %a.navbar-brand{:href => "#"} M.A.G.I
  %ul.nav.navbar-nav.navbar-right
    %li
      %a{:href=>'allevent'}
        %i{:class=>"fa fa-align-justify fa-fw"} 
        Event

    %li
      %a{:href=>'profile'}
        %i{:class=>"fa fa-user fa-fw"} 
        Profile
        
    %li
      %a{:href=>'logout'}
        %i{:class=>"fa fa-sign-out fa-fw"} 
        Logout



.container
  .row
    .col-md-4
    .col-md-4
      - if @flash_notice != ""
        .alert.alert-danger
          %button.close{:type=>"button", "data-dismiss"=>"alert"}
            %span{"aria-hidden"=>true}×
            %span.sr-only Close
          %strong 
            = @flash_notice
            - if @current_user.errors.any?
              - @current_user.errors.full_messages.each do |error|
                = error
    .col-md-4

  .row
    .col-md-4
    .col-md-4
      = form_tag(:action => 'setting') do
        .form-group
          %label Email:
          %input{:class => 'form-control', :value=>@current_user.email, :name=>:email}
        .form-group 
          %label Password: 
          %input{:class => 'form-control', :type=>:password, :name=>:password}
        .form-group
          %label Last Name:
          %input{:class => 'form-control', :value=>@current_user.lastname, :name=>:lastname}
        .form-group
          %label First Name:
          %input{:class => 'form-control', :value=>@current_user.firstname, :name=>:firstname}
        .form-group
          %label Gender:
          - if @current_user.gender == "male"
            %label.checkbox-inline
              %input{:type=>'radio', :value=>'male', :name=>:gender, :checked=>'checked'}
              Male
            %label.checkbox-inline
              %input{:type=>'radio', :value=>'female', :name=>:gender}
              Female
          -else
            %label.checkbox-inline
              %input{:type=>'radio', :value=>'male', :name=>:gender}
              Male
            %label.checkbox-inline
              %input{:type=>'radio', :value=>'female', :name=>:gender, :checked=>'checked'}
              Female
        .form-group
          %label Zip Code:
          %input{:class => 'form-control', :value=>@current_user.zipcode, :name=>:zipcode}
        
        = submit_tag("Save", :class =>'btn btn-success center-block')
        
    .col-md-4

.footer{:style => "padding-top: 100px;"}
  .row{:style => "background-color:rgba(15,39,64,1.00);"}
    .col-md-3
    .col-md-6
      =image_tag "im3.png", :width=>"100%"
    .col-md-3