:javascript
  $(function () {
      $('#container').highcharts({
          chart: {
              type: 'pie',
              options3d: {
                  enabled: true,
                  alpha: 45,
                  beta: 0
              }
          },
          title: {
              text: 'Pie Chart'
          },
          tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  depth: 35,
                  dataLabels: {
                      enabled: true,
                      format: '{point.name}'
                  }
              }
          },
          series: [{
              type: 'pie',
              name: 'Zipcode Distribution',
              data: [
                  ['Austin Area', 25.0],
                  ['Houston Area', 26.8],
                  {
                      name: 'Local',
                      y: 12.8,
                      sliced: true,
                      selected: true
                  },
                  ['San Antonio Area', 13.5],
                  ['Dallas/Fort Worth Area', 16.2],
                  ['Other out of town Texas areas', 3.7]
              ]
          }]
      });
  }); 


%script{:src=>"https://code.highcharts.com/highcharts.js"}
%script{:src=>"https://code.highcharts.com/highcharts-3d.js"}


%div{:id=>'container', :style=>'height: 400px'}
  pie chart