%nav.navbar.navbar-inverse{:role => "navigation"}
  .navbar-header
    %a.navbar-brand{:href => "#"} M.A.G.I
  %ul.nav.navbar-nav.navbar-right
    %li
      %a{:href=>'allevent'}
        %i{:class=>"fa fa-align-justify fa-fw"} 
        Event

    %li
      %a{:href=>'profile'}
        %i{:class=>"fa fa-user fa-fw"} 
        Profile
        
    %li
      %a{:href=>'logout'}
        %i{:class=>"fa fa-sign-out fa-fw"} 
        Logout

.container
  .row
    .col-md-3
    .col-md-6
      - if flash[:notice]!=nil
        .alert.alert-success
          %button.close{:type=>"button", "data-dismiss"=>"alert"}
            %span{"aria-hidden"=>true}×
            %span.sr-only Close
          =flash[:notice]

      .panel.panel-info
        .panel-heading
          Event ID
        .panel-body
          =@event.id
      
        .panel-heading
          Event Title
        .panel-body
          =@event.etitle
      
        .panel-heading
          Event Location
        .panel-body
          =@event.elocation
      
        .panel-heading
          Event Description
        .panel-body
          =@event.edescription
      
        .panel-heading
          Start Date
        .panel-body
          =@event.estart
      
        .panel-heading
          End Date
        .panel-body
          =@event.eend
      %div
        .col-md-9
        .col-md-3
        %a{:href => "QuestionCreate?eid=#{@event.id}", :visited=>'color: #FFFFFF', :class =>'btn btn-primary btn-primary', :role=>'button'} Add question for it
      %br
      %br
    .col-md-3
